* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background-color: #edf3f8;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 4rem;
}

.header__container--phone {
  width: 128px;
  height: 240px;
}

.header__container--title {
  font-family: "DM Serif Display", serif;
  color: #37546d;
  width: 327px;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.header__container--startBox {
  width: 327px;
  height: 285px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__container--btn {
  font-family: "Public Sans", sans-serif;
  font-weight: bold;
  color: white;
  width: 327px;
  padding: 1.3rem;
  border-radius: 30px;
  margin-bottom: 1rem;
  border: none;
  background-color: #b9416f;
}

.header__container--description {
  font-family: "Public Sans", sans-serif;
  font-size: 15px;
  color: #6b8294;
}

.header__container--a {
  font-family: "Public Sans", sans-serif;
  font-size: 15px;
  color: #6b8294;
  text-decoration: none;
  font-weight: 900;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input#email-input {
  width: 327px;
  padding: 1rem;
  border-radius: 30px;
  margin-bottom: 1rem;
  border: none;
}

.bitmap {
  background-image: url("../assets/shared/desktop/bg-pattern-circle.svg");
  background-repeat: no-repeat;
  background-position: 50% 500%;
}

.bitmap2 {
  background-image: url("../assets/shared/desktop/bg-pattern-circle.svg");
  background-repeat: no-repeat;
  height: 618px;
  background-position: 50% 375%;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
  width: 90vw;
  margin: 0 auto;
}

.navbar-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar li {
  list-style: none;
}

.navbar-item {
  text-decoration: none;
  display: block;
  margin-right: 0.5rem;
  padding: 0.8rem;
  font-family: "Public Sans", sans-serif;
  color: #99b5cc;
  font-size: 15px;
  font-weight: 600;
}

.navbar--btn {
  font-family: "Public Sans", sans-serif;
  font-weight: bold;
  color: white;
  width: 173px;
  padding: 1.3rem;
  border-radius: 30px;
  margin-bottom: 1rem;
  border: none;
  background-color: #b9416f;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: auto;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  margin-top: 2rem;
}

input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.middle {
  height: 3px;
  width: 1.875rem;
  background-color: #36536b;
  border-radius: 3.125rem;
  position: absolute;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.top {
  bottom: 5px;
  height: 3px;
  width: 1.875rem;
  background-color: #36536b;
  border-radius: 3.125rem;
  position: absolute;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.bottom {
  top: 10px;
  height: 3px;
  width: 1.875rem;
  background-color: #36536b;
  border-radius: 3.125rem;
  position: absolute;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

input[type="checkbox"]:checked ~ .toggle-button .top {
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
  width: 1.56rem;
  -webkit-transform-origin: right;
          transform-origin: right;
  top: -10px;
}

input[type="checkbox"]:checked ~ .toggle-button .bottom {
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
  width: 1.56rem;
  -webkit-transform-origin: right;
          transform-origin: right;
  top: 10px;
}

input[type="checkbox"]:checked ~ .toggle-button .middle {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  opacity: 0;
}

@media (max-width: 760px) {
  .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    height: auto;
    margin: 2rem auto;
    text-align: center;
    display: none;
  }
  .navbar-links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar-links.active {
    display: block;
    position: absolute;
    margin: 0 auto;
    top: 85px;
    left: 0%;
    padding-bottom: 2rem;
    font-size: 2rem;
    height: 80vh;
    width: 100%;
  }
  .navbar--btn {
    display: none;
  }
}

.partners__container {
  height: 670px;
  background-color: #1c2731;
}

.partners__container--imgBox {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  height: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners__container--textBox {
  margin: 0 auto;
  width: 327px;
  text-align: center;
}

.partners__container--title {
  font-family: "DM Serif Display", serif;
  color: white;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.partners__container--description {
  font-family: "Public Sans", sans-serif;
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 1rem;
  color: #b3b3b3;
}

.partners__container--btn {
  width: 129px;
  height: 48px;
  padding: 0.5rem;
  border-radius: 30px;
  margin-top: 3rem;
  background-color: transparent;
  color: white;
  border-style: solid;
  border-color: white;
  font-size: 1rem;
}

.hero__container {
  background-color: #edf3f8;
  padding-bottom: 5rem;
}

.implement__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.implement__container--svg {
  border-radius: 30px;
  margin: 0 auto;
}

.implement__container--title {
  font-family: "DM Serif Display", serif;
  color: #37546d;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.implement__container--description {
  width: 350px;
  text-align: center;
  line-height: 25px;
  font-family: "Public Sans", sans-serif;
  color: #37546d;
}

.implement__container--textBox {
  margin-bottom: 2rem;
}

.simple__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.simple__container--textBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.simple__container--title {
  font-family: "DM Serif Display", serif;
  color: #37546d;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.simple__container--description {
  width: 350px;
  text-align: center;
  line-height: 25px;
  font-family: "Public Sans", sans-serif;
  color: #37546d;
}

.hero__container--img1 {
  -o-object-fit: cover;
     object-fit: cover;
  width: 328px;
  height: 209px;
  margin-top: 2rem;
  margin-left: 2rem;
}

.hero__container--img2 {
  -o-object-fit: cover;
     object-fit: cover;
  width: 328px;
  height: 290px;
  margin-left: 2rem;
}

.benefits__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefit__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
}

.benefit__container--img {
  margin-bottom: 2rem;
}

.benefit__container--title {
  margin-bottom: 2rem;
  font-family: "DM Serif Display", serif;
  color: #37546d;
  font-size: 2rem;
}

.benefit__container--description {
  text-align: center;
  width: 350px;
  line-height: 25px;
  font-family: "Public Sans", sans-serif;
  color: #37546d;
}

.ready__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ready__container--title {
  font-family: "DM Serif Display", serif;
  color: #37546d;
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.ready__container--btn {
  font-family: "Public Sans", sans-serif;
  font-weight: bold;
  color: white;
  width: 327px;
  padding: 1rem;
  border-radius: 30px;
  margin-bottom: 1rem;
  border: none;
  background-color: #b9416f;
}

input#email {
  width: 327px;
  padding: 1rem;
  border-radius: 30px;
  margin-bottom: 1rem;
  border: none;
}

.footer__container {
  background-color: #1c2731;
  height: 353px;
}

.footer__container--icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__container--ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 115px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__container--li {
  list-style: none;
}

.footer__container--a {
  text-decoration: none;
  color: #b3b3b3;
  font-family: "Public Sans", sans-serif;
  font-weight: bold;
}

.footer__container--img path,
g {
  fill: white;
}

.bitmap3 {
  background-image: url("../assets/shared/desktop/bg-pattern-circle.svg");
  background-repeat: no-repeat;
  background-position: 50% -44%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 353px;
}
/*# sourceMappingURL=index.css.map */