* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background-color: #edf3f8;
}

@media (min-width: 1440px) {
  header {
    height: 630px;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 4rem;
}

@media (min-width: 1440px) {
  .header__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.header__container--phone {
  width: 128px;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 768px) {
  .header__container--phone {
    width: 159px;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (min-width: 1440px) {
  .header__container--phone {
    width: 263px;
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.header__container--title {
  font-family: "DM Serif Display", serif;
  color: #37546d;
  width: 327px;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .header__container--title {
    width: 380px;
  }
}

@media (min-width: 1440px) {
  .header__container--title {
    font-size: 4.5rem;
    width: 546px;
    text-align: left;
  }
}

.header__container--startBox {
  width: 327px;
  height: 285px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1440px) {
  .header__container--startBox {
    width: 546px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: relative;
    right: 135px;
    margin-left: 3rem;
  }
}

.header__container--btn {
  font-family: "Public Sans", sans-serif;
  font-weight: bold;
  color: white;
  width: 327px;
  padding: 1.3rem;
  border-radius: 30px;
  margin-bottom: 1rem;
  border: none;
  background-color: #b9416f;
  cursor: pointer;
}

@media (min-width: 768px) {
  .header__container--btn {
    width: 173px;
    position: relative;
    right: 130px;
    padding: 1rem;
  }
}

.header__container--description {
  font-family: "Public Sans", sans-serif;
  font-size: 15px;
  color: #6b8294;
}

@media (min-width: 1440px) {
  .header__container--description {
    margin-right: 19rem;
  }
}

.header__container--a {
  font-family: "Public Sans", sans-serif;
  font-size: 15px;
  color: #6b8294;
  text-decoration: none;
  font-weight: 900;
}

@media (min-width: 768px) {
  .header__container--form {
    width: auto;
    margin-left: 9rem;
  }
}

.header__container--btn:hover {
  background-color: #da6c96;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1440px) {
  form {
    margin-right: 3rem;
  }
}

input#email-input {
  width: 327px;
  padding: 1rem;
  border-radius: 30px;
  margin-bottom: 1rem;
  border: none;
}

.bitmap {
  background-image: url("../assets/shared/desktop/bg-pattern-circle.svg");
  background-repeat: no-repeat;
  background-position: 50% 500%;
}

@media (min-width: 768px) {
  .bitmap {
    background-position: 50% 2500%;
  }
}

@media (min-width: 1440px) {
  .bitmap {
    background-position: 122% 280%;
  }
}

.bitmap2 {
  background-image: url("../assets/shared/desktop/bg-pattern-circle.svg");
  background-repeat: no-repeat;
  height: 618px;
  background-position: 50% 375%;
}

@media (min-width: 768px) {
  .bitmap2 {
    background-position: 50% 295%;
  }
}

@media (min-width: 1440px) {
  .bitmap2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-position: -43% 205%;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
  width: 90vw;
  margin: 0 auto;
}

.navbar__logo {
  cursor: pointer;
}

@media (min-width: 1440px) {
  .navbar__logo {
    margin-left: 2rem;
  }
}

.navbar-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .navbar-links {
    margin: 0 auto;
  }
}

@media (min-width: 1440px) {
  .navbar-links {
    margin-right: 35rem;
    margin-left: 2rem;
  }
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar li {
  list-style: none;
}

.navbar-item {
  text-decoration: none;
  display: block;
  margin-right: 0.5rem;
  padding: 0.8rem;
  font-family: "Public Sans", sans-serif;
  color: #37546d;
  font-size: 15px;
  font-weight: bold;
}

.navbar--btn {
  font-family: "Public Sans", sans-serif;
  font-weight: bold;
  color: white;
  width: 173px;
  padding: 1.3rem;
  border-radius: 30px;
  margin-bottom: 1rem;
  border: none;
  background-color: #b9416f;
  cursor: pointer;
}

.navbar--btn:hover {
  background-color: #da6c96;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: auto;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  margin-top: 2rem;
  z-index: 100;
}

input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.middle {
  height: 3px;
  width: 1.875rem;
  background-color: #36536b;
  border-radius: 3.125rem;
  position: absolute;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.top {
  bottom: 5px;
  height: 3px;
  width: 1.875rem;
  background-color: #36536b;
  border-radius: 3.125rem;
  position: absolute;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.bottom {
  top: 10px;
  height: 3px;
  width: 1.875rem;
  background-color: #36536b;
  border-radius: 3.125rem;
  position: absolute;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

input[type="checkbox"]:checked ~ .toggle-button .top {
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
  width: 1.56rem;
  -webkit-transform-origin: right;
          transform-origin: right;
  top: -10px;
  background-color: white;
}

input[type="checkbox"]:checked ~ .toggle-button .bottom {
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
  width: 1.56rem;
  -webkit-transform-origin: right;
          transform-origin: right;
  top: 10px;
  background-color: white;
}

input[type="checkbox"]:checked ~ .toggle-button .middle {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  opacity: 0;
}

.navbar--btn-mobilemenu {
  display: none;
}

.mobile--divider {
  display: none;
}

@media (max-width: 768px) {
  .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile--divider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    top: 80px;
    width: 249px;
    height: 1px;
    margin: 0 auto;
  }
  .navbar--btn-mobilemenu {
    display: block;
    font-family: "Public Sans", sans-serif;
    font-weight: bold;
    color: white;
    width: 173px;
    padding: 1.3rem;
    border-radius: 30px;
    margin: 0 auto;
    border: none;
    background-color: #b9416f;
    cursor: pointer;
  }
  .navbar-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    margin: 2rem auto;
    text-align: center;
    display: none;
  }
  .navbar-links.active {
    display: block;
    position: absolute;
    margin: 0 auto;
    top: 0px;
    right: 0vw;
    padding-bottom: 2rem;
    font-size: 2rem;
    height: 650px;
    width: 300px;
    background-color: #1b262f;
  }
  .navbar-links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 200px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 7rem;
    margin-bottom: 2rem;
  }
  .navbar-item {
    color: #b3b3b3;
    font-size: 20px;
  }
  .navbar--btn {
    display: none;
  }
}

.partners__container {
  height: 670px;
  background-color: #1c2731;
}

@media (min-width: 768px) {
  .partners__container {
    height: 615px;
  }
}

@media (min-width: 1440px) {
  .partners__container {
    height: 472px;
  }
}

.partners__container--imgBox {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  height: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .partners__container--imgBox {
    width: 536px;
  }
}

@media (min-width: 1440px) {
  .partners__container--imgBox {
    margin-bottom: 9rem;
  }
}

.partners__container--textBox {
  margin: 0 auto;
  width: 327px;
  text-align: center;
}

@media (min-width: 768px) {
  .partners__container--textBox {
    width: 457px;
  }
}

@media (min-width: 1440px) {
  .partners__container--textBox {
    text-align: left;
    margin-bottom: 6rem;
  }
}

.partners__container--title {
  font-family: "DM Serif Display", serif;
  color: white;
  font-size: 2rem;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .partners__container--title {
    font-size: 3rem;
  }
}

.partners__container--description {
  font-family: "Public Sans", sans-serif;
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 1rem;
  color: #b3b3b3;
}

.partners__container--btn {
  width: 129px;
  height: 48px;
  padding: 0.5rem;
  border-radius: 30px;
  margin-top: 3rem;
  background-color: transparent;
  color: white;
  border-style: solid;
  border-color: white;
  cursor: pointer;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .partners__container--btn {
    margin-top: unset;
  }
}

.partners__container--btn:hover {
  background-color: white;
  color: #1c2731;
}

.hero__container {
  background-color: #edf3f8;
  padding-bottom: 5rem;
}

.implement__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1440px) {
  .implement__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.implement__container--svg {
  border-radius: 30px;
  margin: 0 auto;
}

.implement__container--title {
  font-family: "DM Serif Display", serif;
  color: #37546d;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .implement__container--title {
    font-size: 2.5rem;
  }
}

@media (min-width: 1440px) {
  .implement__container--title {
    text-align: left;
  }
}

.implement__container--description {
  width: 350px;
  text-align: center;
  line-height: 25px;
  font-family: "Public Sans", sans-serif;
  color: #37546d;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .implement__container--description {
    width: 610px;
  }
}

@media (min-width: 1440px) {
  .implement__container--description {
    width: 445px;
    text-align: left;
  }
}

.implement__container--textBox {
  margin: 0 auto;
}

.simple__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1440px) {
  .simple__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.simple__container--textBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1440px) {
  .simple__container--textBox {
    margin-left: 5.5rem;
    margin-right: 3rem;
  }
}

.simple__container--title {
  font-family: "DM Serif Display", serif;
  color: #37546d;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .simple__container--title {
    font-size: 2.5rem;
  }
}

@media (min-width: 1440px) {
  .simple__container--title {
    text-align: left;
  }
}

.simple__container--description {
  width: 350px;
  text-align: center;
  line-height: 25px;
  font-family: "Public Sans", sans-serif;
  color: #37546d;
}

@media (min-width: 768px) {
  .simple__container--description {
    width: 610px;
  }
}

@media (min-width: 1440px) {
  .simple__container--description {
    width: 445px;
    text-align: left;
  }
}

.hero__container--img1 {
  -o-object-fit: cover;
     object-fit: cover;
  width: 328px;
  height: 209px;
  margin-top: 2rem;
  margin-left: 2rem;
}

@media (min-width: 768px) {
  .hero__container--img1 {
    width: 391px;
    height: 250px;
  }
}

@media (min-width: 1440px) {
  .hero__container--img1 {
    width: 500px;
    height: 445px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.hero__container--img2 {
  -o-object-fit: cover;
     object-fit: cover;
  width: 328px;
  height: 290px;
  margin-left: 2rem;
}

@media (min-width: 768px) {
  .hero__container--img2 {
    width: 320px;
    height: 320px;
  }
}

@media (min-width: 1440px) {
  .hero__container--img2 {
    width: 500px;
    height: 500px;
  }
}

@media (min-width: 768px) {
  #benefits__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 5rem;
  }
}

@media (min-width: 1440px) {
  #benefits__container {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.benefits__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefit__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
}

@media (min-width: 768px) {
  .benefit__container {
    margin-right: 1rem;
  }
}

.benefit__container--img {
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .benefit__container--img {
    width: 88px;
    height: 88px;
  }
}

.benefit__container--title {
  margin-bottom: 2rem;
  font-family: "DM Serif Display", serif;
  color: #37546d;
  font-size: 2rem;
}

@media (min-width: 768px) {
  .benefit__container--title {
    font-size: 18px;
  }
}

.benefit__container--description {
  text-align: center;
  width: 350px;
  line-height: 25px;
  font-family: "Public Sans", sans-serif;
  color: #37546d;
}

@media (min-width: 768px) {
  .benefit__container--description {
    font-size: 15px;
    width: 223px;
  }
}

@media (min-width: 1440px) {
  .benefit__container--description {
    width: 350px;
  }
}

.ready__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1440px) {
  .ready__container {
    margin-left: 6rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.ready__container--title {
  font-family: "DM Serif Display", serif;
  color: #37546d;
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .ready__container--title {
    font-size: 2.5rem;
  }
}

.ready__container--btn {
  font-family: "Public Sans", sans-serif;
  font-weight: bold;
  color: white;
  width: 327px;
  padding: 1rem;
  border-radius: 30px;
  margin-bottom: 1rem;
  border: none;
  background-color: #b9416f;
}

@media (min-width: 768px) {
  .ready__container--btn {
    width: 173px;
    position: relative;
    right: 106px;
  }
}

@media (min-width: 768px) {
  .ready__container--form {
    margin-left: 8rem;
  }
}

.ready__container--btn:hover {
  background-color: #da6c96;
  cursor: pointer;
}

input#email {
  width: 327px;
  padding: 1rem;
  border-radius: 30px;
  margin-bottom: 1rem;
  border: none;
}

.footer__container {
  background-color: #1c2731;
  height: 353px;
}

@media (min-width: 768px) {
  .footer__container {
    height: 100px;
  }
}

.footer__container--icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .footer__container--icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
}

.footer__container--ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 115px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 768px) {
  .footer__container--ul {
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    height: unset;
    width: 200px;
  }
}

.footer__container--li {
  list-style: none;
}

.footer__container--a {
  text-decoration: none;
  color: #b3b3b3;
  font-family: "Public Sans", sans-serif;
  font-weight: bold;
}

.footer__container--a:hover {
  color: white;
}

.footer__container--img path,
g {
  cursor: pointer;
  fill: white;
}

.footer__container--img path:hover {
  fill: #da6c96;
}

.footer__container--icon path:hover {
  fill: #da6c96;
}

.partners__container--img path:hover {
  fill: #da6c96;
  cursor: pointer;
}

.bitmap3 {
  background-image: url("../assets/shared/desktop/bg-pattern-circle.svg");
  background-repeat: no-repeat;
  background-position: 50% -44%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 353px;
}

@media (min-width: 768px) {
  .bitmap3 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100px;
    background-position: -2200% 22%;
  }
}

@media (min-width: 1440px) {
  .bitmap3 {
    background-position: 160% 22%;
  }
}
/*# sourceMappingURL=index.css.map */