* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "partial";

body {
  background-color: #edf3f8;
}

// .bitmap {
//   background-image: url("../assets/shared/desktop/bg-pattern-circle.svg");
//   background-repeat: no-repeat;
// }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  width: 90vw;
  margin: 0 auto;
}

.navbar__logo {
  cursor: pointer;
  @include desktop {
    margin-left: 2rem;
  }
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  @include desktop {
    margin-right: 35rem;
    margin-left: 2rem;
  }
}

.navbar ul {
  display: flex;
}

.navbar li {
  list-style: none;
}

.navbar-item {
  text-decoration: none;
  display: block;
  margin-right: 0.5rem;
  padding: 0.8rem;
  font-family: "Public Sans", sans-serif;
  color: $san-juan-blue;
  font-size: 15px;
  font-weight: 600;
}

.navbar--btn {
  font-family: "Public Sans", sans-serif;
  font-weight: bold;
  color: white;
  width: 173px;
  padding: 1.3rem;
  border-radius: 30px;
  margin-bottom: 1rem;
  border: none;
  background-color: $darkpink;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: auto;
  cursor: pointer;
  transition: all 0.5s ease-out;
  margin-top: 2rem;
}

input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.middle {
  height: 3px;
  width: 1.875rem;
  background-color: #36536b;
  border-radius: 3.125rem;
  position: absolute;
  transition: 0.3s ease;
}

.top {
  bottom: 5px;
  height: 3px;
  width: 1.875rem;
  background-color: #36536b;
  border-radius: 3.125rem;
  position: absolute;
  transition: 0.3s ease;
}

.bottom {
  top: 10px;
  height: 3px;
  width: 1.875rem;
  background-color: #36536b;
  border-radius: 3.125rem;
  position: absolute;
  transition: 0.3s ease;
}

input[type="checkbox"]:checked ~ .toggle-button .top {
  transform: rotate(-50deg);
  width: 1.56rem;
  transform-origin: right;
  top: -10px;
}

input[type="checkbox"]:checked ~ .toggle-button .bottom {
  transform: rotate(50deg);
  width: 1.56rem;
  transform-origin: right;
  top: 10px;
}

input[type="checkbox"]:checked ~ .toggle-button .middle {
  transform: translateX(-20px);
  opacity: 0;
}

li {
  list-style: none;
  font-family: "Public Sans", sans-serif;
}

.active {
  color: $san-juan-blue;
  list-style-image: url("../assets/shared/desktop/icon-check.svg");
}

.unactive {
  color: hsl(0, 0%, 70%);
}

@media (max-width: 760px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    flex-direction: column;
    width: 80%;
    height: auto;
    margin: 2rem auto;
    text-align: center;
    display: none;
  }

  .navbar-links ul {
    display: flex;
    flex-direction: column;
  }

  .navbar-links.active {
    display: block;
    position: absolute;
    margin: 0 auto;
    top: 85px;
    left: 0%;
    padding-bottom: 2rem;
    font-size: 2rem;
    height: 80vh;
    width: 100%;
  }

  .navbar--btn {
    display: none;
  }
}

.tabletView {
  @include tablet {
    display: flex;
    width: 70vw;
    justify-content: space-around;
  }
  @include desktop {
    width: 85vw;
    justify-content: space-between;
  }
}

.request-btn {
  width: 168px;
  padding: 1rem;
  border-radius: 50px;
  border-color: $san-juan-blue;
  background-color: transparent;
  font-family: "Public Sans", sans-serif;
  font-weight: bold;
  color: $san-juan-blue;
  margin-top: 2rem;
  margin-bottom: 2rem;
  // margin-left: 5rem;
}

.divider {
  width: 327px;
  @include tablet {
    width: 200px;
    margin: 0 auto;
  }
  @include desktop {
    width: 350px;
  }
}

.price__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;

  &--title {
    font-family: "DM Serif Display", serif;
    color: $san-juan-blue;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    @include desktop {
      font-size: 3.5rem;
      position: relative;
      right: 33rem;
    }
  }
}

.free__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablet {
    width: 223px;
  }
  @include desktop {
    width: 350px;
    align-items: unset;
  }
  &--textBox {
    display: flex;
    flex-direction: column;
    height: 275px;
    justify-content: space-around;
    align-items: center;
    @include desktop {
      width: 350px;
      text-align: left;
      align-items: unset;
    }
  }
  &--title {
    font-family: "DM Serif Display", serif;
    color: $darkpink;
    font-size: 1.5rem;
    @include desktop {
      text-align: left;
      font-size: 2rem;
    }
  }
  &--description {
    display: none;
    @include tablet {
      display: block;
      width: 223px;
      text-align: center;
      font-family: "Public Sans", sans-serif;
      line-height: 30px;
      color: $light-san-juan-blue;
    }
    @include desktop {
      width: 350px;
      text-align: left;
    }
  }
  &--price {
    font-family: "DM Serif Display", serif;
    color: $san-juan-blue;
    font-size: 3.5rem;
  }
  &--ul {
    display: flex;
    flex-direction: column;
    height: 244px;
    width: 1;
    width: 45px;
    margin: 0 auto;
    justify-content: space-evenly;
    @include desktop {
      width: 300px;
    }
  }
}
.basic__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablet {
    width: 223px;
  }
  @include desktop {
    width: 350px;
    align-items: unset;
  }
  &--textBox {
    display: flex;
    flex-direction: column;
    height: 275px;
    justify-content: space-around;
    align-items: center;
    @include desktop {
      width: 350px;
      text-align: left;
      align-items: unset;
    }
  }
  &--title {
    font-family: "DM Serif Display", serif;
    color: $darkpink;
    font-size: 1.5rem;
    @include desktop {
      text-align: left;
      font-size: 2rem;
    }
  }
  &--description {
    display: none;
    @include tablet {
      display: block;
      width: 223px;
      text-align: center;
      font-family: "Public Sans", sans-serif;
      line-height: 30px;
      color: $light-san-juan-blue;
    }
    @include desktop {
      width: 350px;
      text-align: left;
    }
  }
  &--price {
    font-family: "DM Serif Display", serif;
    color: $san-juan-blue;
    font-size: 3.5rem;
  }
  &--ul {
    display: flex;
    flex-direction: column;
    height: 244px;
    width: 1;
    width: 45px;
    margin: 0 auto;
    justify-content: space-evenly;
    @include desktop {
      width: 300px;
    }
  }
}
.premium__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablet {
    width: 223px;
  }
  @include desktop {
    width: 350px;
    align-items: unset;
  }
  &--textBox {
    display: flex;
    flex-direction: column;
    height: 275px;
    justify-content: space-around;
    align-items: center;
    @include desktop {
      width: 350px;
      text-align: left;
      align-items: unset;
    }
  }
  &--title {
    font-family: "DM Serif Display", serif;
    color: $darkpink;
    font-size: 1.5rem;
    @include desktop {
      text-align: left;
      font-size: 2rem;
    }
  }
  &--description {
    display: none;
    @include tablet {
      display: block;
      width: 223px;
      text-align: center;
      font-family: "Public Sans", sans-serif;
      line-height: 30px;
      color: $light-san-juan-blue;
    }
    @include desktop {
      width: 350px;
      text-align: left;
    }
  }
  &--price {
    font-family: "DM Serif Display", serif;
    color: $san-juan-blue;
    font-size: 3.5rem;
  }
  &--ul {
    display: flex;
    flex-direction: column;
    height: 244px;
    width: 1;
    width: 45px;
    margin: 0 auto;
    justify-content: space-evenly;
    @include desktop {
      width: 300px;
    }
  }
}

.ready__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablet {
    margin-top: 2rem;
    padding-bottom: 5rem;
  }
  @include desktop {
    margin-left: 8rem;
    flex-direction: row;
    justify-content: space-between;
  }

  &--title {
    font-family: "DM Serif Display", serif;
    color: $san-juan-blue;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    @include tablet {
      font-size: 2.5rem;
    }
  }
  &--btn {
    font-family: "Public Sans", sans-serif;
    font-weight: bold;
    color: white;
    width: 327px;
    padding: 1rem;
    border-radius: 30px;
    margin-bottom: 1rem;
    border: none;
    background-color: $darkpink;
    @include tablet {
      width: 173px;
      position: relative;
      right: 106px;
    }
  }
  &--form {
    @include tablet {
      margin-left: 8rem;
    }
  }
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablet {
    flex-direction: row;
  }
  @include desktop {
    margin-right: 1rem;
  }
}

input#email {
  width: 327px;
  padding: 1rem;
  border-radius: 30px;
  margin-bottom: 1rem;
  border: none;
}

.footer__container {
  background-color: $mirage-blue;
  height: 353px;
  @include tablet {
    height: 100px;
  }

  &--icons {
    display: flex;
    width: 120px;
    justify-content: space-between;
  }
  &--icon {
    @include tablet {
      width: 24px;
      height: 24px;
    }
  }

  &--ul {
    flex-direction: column;
    display: flex;
    height: 115px;
    justify-content: space-around;
    @include tablet {
      flex-direction: unset;
      height: unset;
      width: 200px;
    }
  }
  &--li {
    list-style: none;
  }
  &--a {
    text-decoration: none;
    color: hsl(0, 0%, 70%);
    font-family: "Public Sans", sans-serif;
    font-weight: bold;
  }
}

.footer__container--img path,
g {
  fill: white;
}

.bitmap3 {
  background-image: url("../assets/shared/desktop/bg-pattern-circle.svg");
  background-repeat: no-repeat;
  background-position: 50% -44%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 353px;
  @include tablet {
    flex-direction: row;
    height: 100px;
    background-position: -2200% 22%;
  }
  @include desktop {
    background-position: 160% 22%;
  }
}
